@import url('https://fonts.googleapis.com/css?family=Exo:100,400,700');

body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Exo', sans-serif;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/hero-image.jpg') right 20%;
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height:100%;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text h1 {
  color: rgb(40, 40, 40);
  font-size: 45px;
  font-weight: 100;
  text-align: center;
  line-height: 1.25;
}

.hero-text button {
  border-radius: 3px;
  background-color: rgb(255, 109, 109);
}

.hero-text .hero-button {
  cursor: pointer;
  font-size: 14px;
  background: rgba(255, 109, 109);
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 14px 60px;
}

.hero-text p {
  font-size: 14px;
  color: rgba(40, 40, 40, 0.6);
}

.new-design-first {
  display: flex;
}

.new-design-first .left-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 150px 100px;
}

.new-design-first .right-block {
  background: url('images/rectangle-one.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: auto;
}
.label-text {
  font-size: 16px;
  color: rgb(255, 109, 109);
  text-transform: uppercase;
}

.h-text {
  font-size: 36px;
  color: rgb(40, 40, 40);
}

.dots {
  color: rgb(255, 109, 109);
}

.new-design-first p {
  font-size: 14px;
  color: rgba(40, 40, 40, 0.659);
}

.new-feature-first {
  background: url('images/new-features-bg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 120px 40px;
}

.header-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.some-features-wrapper {
  display: flex;
}

.some-feature-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.some-feature-block .some-feature-logo {
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
  margin-bottom: 25px;
}

.some-feature-block .some-feature-logo.logo1 {
  background: url('images/photos.png');
  background-size: cover;
}

.some-feature-block .some-feature-logo.logo2 {
  background: url('images/airplane.png');
  background-size: cover;
}

.some-feature-block .some-feature-logo.logo3 {
  background: url('images/bulb.png');
  background-size: cover;
}

.some-feature-block .some-feature-header {
  font-size: 22px;
  color: rgb(40, 40, 40);
}

.some-feature-block .some-feature-text {
  font-size: 14px;
  color: rgba(40, 40, 40, 0.659);
  text-align: center;
}

.new-design-second {
  display: flex;
}

.new-design-second .left-block {
  background: url('images/macbook.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 40%;
  height: auto;
}

.new-design-second .right-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  padding: 70px 100px 70px 10px;
}

.new-design-second p {
  font-size: 14px;
  color: rgba(40, 40, 40, 0.659);
}


.block-with-logos {
  background: url('images/bg-logos-box.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.block-with-logos .logo1 {
  background: url('images/logos/partner-logo-1.png');
  background-repeat: no-repeat;
  width: 130px;
  height: 60px;
}